blinker==1.9.0
click==8.1.8
Flask==3.1.0
Flask-MySQLdb==2.0.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy==1.15.0
mypy_extensions==1.0.0
mysqlclient==2.2.7
parso==0.8.4
PyJWT==2.10.1
typing_extensions==4.12.2
Werkzeug==3.1.3
